@charset "utf-8";
/* CSS Document */

#header_menu ul {
	padding-left:10px;
}

#main_left {
	visibility:hidden;
	display:none;
}

#main_content {
	width:500px;
	padding-right:0;
}

#main_text {
	width:500px;
	padding-right:0;
}