#aboutus #main_content {
	background-image:url(../images/bg_about_lright.jpg);
}

.about_pic_list {
	margin-left:100px;	
}


/*Appraisal Form*/

#orderappraisal #main_text {
	width:640px;
	padding:13px 40px 0 70px;
	margin:0;
}

table#contact-us  {
	width:630px;
	padding:0;
	margin:12px 0 24px 0;
}

table#contact-us td  {
	padding:5px 0;
	margin:0;
}

td.name  {
	width:200px;
	font-weight:bold;
	padding-right:10px;
}

td.field  {
	width:420px;
}

table#contact-us input[type="radio"] {
	margin-right:5px;
}

span.required {
	color:#CC0000;
}

span.appraisal_price {
	font-weight:bold;
	padding-left:10px;
}

div.chronoform {
	display:none;
	visibility:hidden;
}

/*Registration Form*/

table#registrationTable  {
	width:490px;
	padding:0;
	margin:12px 0 24px 0;
	border:0;
}

table#registrationTable td  {
	padding:5px 0;
	margin:0;
	border:0;
}

table#registrationTable td.titleCell  {
	width:150px;
	font-weight:bold;
	padding-right:10px;
}

table#registrationTable td.fieldCell  {
	width:330px;
}



/*Site Map*/

ul.level_0 {
	margin-top:12px;
}

ul.level_0 li {
	padding-bottom:6px;
}
